
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
  <title>培星小学2016-三班作业</title>
</head>

<body>
<ul>
  <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">语文课本</a>
  <div class="dropdown-content">
  <a href="http://www.aoshu.com/e/20100903/4c80b657d52da.shtml" target="_blank" title="北师大版二年级上册语文：附录 表">北师大版二年级上册语文：附录 表</a>
<a href="http://www.aoshu.com/e/20100903/4c80b20827c56.shtml" target="_blank" title="北师大版二年级上册语文：十五 岁月">北师大版二年级上册语文：十五 岁月</a>
<a href="http://www.aoshu.com/e/20100903/4c80ae0f896b9.shtml" target="_blank" title="北师大版二年级上册语文：十四 玩具和游戏">北师大版二年级上册语文：十四 玩具和游戏</a>
<a href="http://www.aoshu.com/e/20100903/4c80a7152c453.shtml" target="_blank" title="北师大版二年级上册语文：十三 风和水">北师大版二年级上册语文：十三 风和水</a>
<a href="http://www.aoshu.com/e/20100903/4c80a474944a3.shtml" target="_blank" title="北师大版二年级上册语文：十二 考验">北师大版二年级上册语文：十二 考验</a>
<a href="http://www.aoshu.com/e/20100903/4c80a3502f7d1.shtml" target="_blank" title="北师大版二年级上册语文：十一 努力">北师大版二年级上册语文：十一 努力</a>
<a href="http://www.aoshu.com/e/20100903/4c80a2548c6b5.shtml" target="_blank" title="北师大版二年级上册语文：十 丁丁冬冬学识字（二）">北师大版二年级上册语文：十 丁丁冬冬学识字（二）</a>
<a href="http://www.aoshu.com/e/20100903/4c80a15ee3d86.shtml" target="_blank" title="北师大版二年级上册语文：九 合作">北师大版二年级上册语文：九 合作</a>
<a href="http://www.aoshu.com/e/20100903/4c809fde803cb.shtml" target="_blank" title="北师大版二年级上册语文：八 书的世界">北师大版二年级上册语文：八 书的世界</a>
<a href="http://www.aoshu.com/e/20100903/4c809e741e7bd.shtml" target="_blank" title="北师大版二年级上册语文：七 画">北师大版二年级上册语文：七 画</a>
<a href="http://www.aoshu.com/e/20100903/4c809d04805d2.shtml" target="_blank" title="北师大版二年级上册语文：六 诚实">北师大版二年级上册语文：六 诚实</a>
<a href="http://www.aoshu.com/e/20100903/4c809bf2d9299.shtml" target="_blank" title="北师大版二年级上册语文：五 好奇">北师大版二年级上册语文：五 好奇</a>
<a href="http://www.aoshu.com/e/20100903/4c809ada82231.shtml" target="_blank" title="北师大版二年级上册语文：四 祖国">北师大版二年级上册语文：四 祖国</a>
<a href="http://www.aoshu.com/e/20100903/4c809a02a630e.shtml" target="_blank" title="北师大版二年级上册语文：三 丁丁冬冬学识字（一）">北师大版二年级上册语文：三 丁丁冬冬学识字（一）</a>
<a href="http://www.aoshu.com/e/20100903/4c809908a2290.shtml" target="_blank" title="北师大版二年级上册语文：二 自立">北师大版二年级上册语文：二 自立</a>
<a href="http://www.aoshu.com/e/20100903/4c8097a472682.shtml" target="_blank" title="北师大版二年级上册语文：一 秋天">北师大版二年级上册语文：一 秋天</a>
  </div>
  </li>
  <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">数学课本</a>
  <div class="dropdown-content">
  <a href="http://www.aoshu.com/e/20110715/4e1feabb3fee1.shtml" target="_blank" title="北师大版二年级数学上册 一 数一数与乘法">北师大版二年级数学上册 一 数一数与乘法</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb40e84.shtml" target="_blank" title="北师大版二年级数学上册 二 乘法口诀（一）">北师大版二年级数学上册 二 乘法口诀（一）</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb41a3d.shtml" target="_blank" title="北师大版二年级数学上册 三 观察物体">北师大版二年级数学上册 三 观察物体</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb425f7.shtml" target="_blank" title="北师大版二年级数学上册 四 分一分与除法">北师大版二年级数学上册 四 分一分与除法</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb4359a.shtml" target="_blank" title="北师大版二年级数学上册 五 方向与位置">北师大版二年级数学上册 五 方向与位置</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb44154.shtml" target="_blank" title="北师大版二年级数学上册 六 时、分、秒">北师大版二年级数学上册 六 时、分、秒</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb44d0e.shtml" target="_blank" title="北师大版二年级数学上册 七 乘法口诀（二）">北师大版二年级数学上册 七 乘法口诀（二）</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb458c8.shtml" target="_blank" title="北师大版二年级数学上册 八 除法">北师大版二年级数学上册 八 除法</a>
<a href="http://www.aoshu.com/e/20110715/4e1feabb46482.shtml" target="_blank" title="北师大版二年级数学上册 九 统计与猜测">北师大版二年级数学上册 九 统计与猜测</a>
  </div>
  </li>

  <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">英语课本-含听力</a>
    <div class="dropdown-content">  
  
  
    <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2981.html" title="人教版新起点小学英语二年级上册：Unit 1 My Family" target="_blank">人教版新起点小学英语二年级上册：Unit 1 My Family</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2982.html" title="人教版新起点小学英语二年级上册：Unit 1 Lesson 1" target="_blank">人教版新起点小学英语二年级上册：Unit 1 Lesson 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2983.html" title="人教版新起点小学英语二年级上册：Unit 1 Lesson 2" target="_blank">人教版新起点小学英语二年级上册：Unit 1 Lesson 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2984.html" title="人教版新起点小学英语二年级上册：Unit 1 Lesson 3" target="_blank">人教版新起点小学英语二年级上册：Unit 1 Lesson 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2985.html" title="人教版新起点小学英语二年级上册：Unit 1 Story Time" target="_blank">人教版新起点小学英语二年级上册：Unit 1 Story Time</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2986.html" title="人教版新起点小学英语二年级上册：Words in Unit 1" target="_blank">人教版新起点小学英语二年级上册：Words in Unit 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2987.html" title="人教版新起点小学英语二年级上册：Unit 2 Boys and Girls" target="_blank">人教版新起点小学英语二年级上册：Unit 2 Boys and Girls</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2988.html" title="人教版新起点小学英语二年级上册：Unit 2 Lesson 1" target="_blank">人教版新起点小学英语二年级上册：Unit 2 Lesson 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2989.html" title="人教版新起点小学英语二年级上册：Unit 2 Lesson 2" target="_blank">人教版新起点小学英语二年级上册：Unit 2 Lesson 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2990.html" title="人教版新起点小学英语二年级上册：Unit 2 Lesson 3" target="_blank">人教版新起点小学英语二年级上册：Unit 2 Lesson 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2991.html" title="人教版新起点小学英语二年级上册：Unit 2 Story Time" target="_blank">人教版新起点小学英语二年级上册：Unit 2 Story Time</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2992.html" title="人教版新起点小学英语二年级上册：Words in Unit 2" target="_blank">人教版新起点小学英语二年级上册：Words in Unit 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2993.html" title="人教版新起点小学英语二年级上册：Unit 3 My Friends" target="_blank">人教版新起点小学英语二年级上册：Unit 3 My Friends</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2994.html" title="人教版新起点小学英语二年级上册：Unit 3 Lesson 1" target="_blank">人教版新起点小学英语二年级上册：Unit 3 Lesson 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2995.html" title="人教版新起点小学英语二年级上册：Unit 3 Lesson 2" target="_blank">人教版新起点小学英语二年级上册：Unit 3 Lesson 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2996.html" title="人教版新起点小学英语二年级上册：Unit 3 Lesson 3" target="_blank">人教版新起点小学英语二年级上册：Unit 3 Lesson 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2997.html" title="人教版新起点小学英语二年级上册：Unit 3 Story Time" target="_blank">人教版新起点小学英语二年级上册：Unit 3 Story Time</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2998.html" title="人教版新起点小学英语二年级上册：Words in Unit 3" target="_blank">人教版新起点小学英语二年级上册：Words in Unit 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/2999.html" title="人教版新起点小学英语二年级上册：Revision 1" target="_blank">人教版新起点小学英语二年级上册：Revision 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3000.html" title="人教版新起点小学英语二年级上册：Unit 4 In the Community" target="_blank">人教版新起点小学英语二年级上册：Unit 4 In the Community</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3001.html" title="人教版新起点小学英语二年级上册：Unit 4 Lesson 1" target="_blank">人教版新起点小学英语二年级上册：Unit 4 Lesson 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3002.html" title="人教版新起点小学英语二年级上册：Unit 4 Lesson 2" target="_blank">人教版新起点小学英语二年级上册：Unit 4 Lesson 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3003.html" title="人教版新起点小学英语二年级上册：Unit 4 Lesson 3" target="_blank">人教版新起点小学英语二年级上册：Unit 4 Lesson 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3004.html" title="人教版新起点小学英语二年级上册：Unit 4 Story Time" target="_blank">人教版新起点小学英语二年级上册：Unit 4 Story Time</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3005.html" title="人教版新起点小学英语二年级上册：Words in Unit 4" target="_blank">人教版新起点小学英语二年级上册：Words in Unit 4</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3007.html" title="人教版新起点小学英语二年级上册：Unit 5 In the Park" target="_blank">人教版新起点小学英语二年级上册：Unit 5 In the Park</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3006.html" title="人教版新起点小学英语二年级上册：Unit 5 Lesson 1" target="_blank">人教版新起点小学英语二年级上册：Unit 5 Lesson 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3008.html" title="人教版新起点小学英语二年级上册：Unit 5 Lesson 2" target="_blank">人教版新起点小学英语二年级上册：Unit 5 Lesson 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3009.html" title="人教版新起点小学英语二年级上册：Unit 5 Lesson 3" target="_blank">人教版新起点小学英语二年级上册：Unit 5 Lesson 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3010.html" title="人教版新起点小学英语二年级上册：Unit 5 Story Time" target="_blank">人教版新起点小学英语二年级上册：Unit 5 Story Time</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3011.html" title="人教版新起点小学英语二年级上册：Words in Unit 5" target="_blank">人教版新起点小学英语二年级上册：Words in Unit 5</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3012.html" title="人教版新起点小学英语二年级上册：Unit 6 Happy Holidays" target="_blank">人教版新起点小学英语二年级上册：Unit 6 Happy Holidays</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3013.html" title="人教版新起点小学英语二年级上册：Unit 6 Lesson 1" target="_blank">人教版新起点小学英语二年级上册：Unit 6 Lesson 1</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3014.html" title="人教版新起点小学英语二年级上册：Unit 6 Lesson 2" target="_blank">人教版新起点小学英语二年级上册：Unit 6 Lesson 2</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3015.html" title="人教版新起点小学英语二年级上册：Unit 6 Lesson 3" target="_blank">人教版新起点小学英语二年级上册：Unit 6 Lesson 3</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3016.html" title="人教版新起点小学英语二年级上册：Unit 6 Story Time" target="_blank">人教版新起点小学英语二年级上册：Unit 6 Story Time</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3017.html" title="人教版新起点小学英语二年级上册：Words in Unit 6" target="_blank">人教版新起点小学英语二年级上册：Words in Unit 6</a>
  <a href="http://www.en8848.com.cn/xiaoxue/rjb-sl1/rjbsl12a201409/3018.html" title="人教版新起点小学英语二年级上册：Revision 2" target="_blank">人教版新起点小学英语二年级上册：Revision 2</a>
      </div>
  </li>
</ul>
<H1>培星小学2016-三班作业</H1>
<img src="assignment/assi.png">
<!--img src="{{ url_for('static', filename='assi.png') }}"-->
<H2>2017年12月19日</H2>
<h3>语文</h3>
<ol>
<li>打印后练习  做一空一</li><br>
</ol>
<h3>下载</h3>
<a href="{{ url_for('static', filename='assignment/20171219/《近义词》1.doc') }}">《近义词》1.doc</a>&nbsp;&nbsp;<a href="assignment/20171219/《近义词》1.pdf">(pdf)</a>
<br>
<a href="assignment/20171219/第十三单元词语.doc">第十三单元词语.doc</a>&nbsp;&nbsp;<a href="assignment/20171219/第十三单元词语.pdf">(pdf)</a>
<br><br>
<H2>2017年12月18日</H2>
<h3>语文</h3>
<ol>
<li>听写13单元词语</li><br>
<li>读书《雾》P69</li><br>
<li>做小状元《我》</li><br>
</ol>
<h3>数学</h3>
<ol>
<li>口算</li><br>
<li>完成书中习题</li><br>
<li>做小状元</li><br>
</ol>
<br>
<H2>2017年12月15日</H2>
<h3>语文</h3>
<ol>
<li>听写12单元词语（看拼音写词）</li><br>
<li>熟读《我》一课</li><br>
<li>改试卷</li><br>
<li>日记（周记）</li><br>
</ol>
<h3>数学</h3>
<ol>
<li>做乘法口诀表小报</li><br>
<li>做10道竖式计算题</li><br>
</ol>
<h3>下载</h3>
<a href="assignment/20171215/第十一单元词语.pdf">第十一单元词语</a>
<br>
<a href="assignment/20171215/十至十二单元看拼音.pdf">十至十二单元看拼音</a>
<br><br><br>
<a href="assignment/1.doc">十至十二单元看拼音</a>
</body>

</html>

